<!DOCTYPE html>
<html>
  <head>
    <title>NigataShare2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="leftside">
      <a href="http://localhost:3000"><img src="/assets/logo.png" alt="ロゴ画像"></a>
        <input class="textbox" type="text" placeholder="エリア">
        <input class="textbox" type="text" placeholder="キーワード">
      </div>
      <div class="rightside">
        <% if user_signed_in? %>
        <%= current_user.name %>
        <% if current_user.image.attached? %>
        <%= image_tag current_user.image, class: "header-host-icon" %>
        <% else %>
        <img class="header-host-icon" src="/assets/host-icon.jpg" alt="デフォルトアイコン">
        <% end %>
        <%= link_to 'ログアウト',destroy_user_session_path,class: 'dropdown-item',method: :delete %>
        <% else %>
        <%= button_to 'ログイン', {controller: 'users/sessions', action: 'new'}, {method: :get, class: "header-button" }%>
        <%= button_to '登録する', {controller: 'users/registrations', action: 'new'}, {method: :get, class: "header-button" }%>
        <% end %>
      </div>
    </header>

    <%= yield %>

    <footer class="footer">
      <p>©️2022 miura</p>
    </footer>
  </body>
</html>

